@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(7.5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.assets-loaded {
  animation: fadeInUp;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  animation-duration: 0.55s;
  animation-delay: 0.15s;
}
.all-assets {
  width: 100%;
  border: 2px solid #232323;
  border-radius: 3.5px;
  overflow-x: auto;
}
.all-assets .all-assets-labels {
  width: 100%;
  display: flex;
  padding: 15px;
  border-bottom: 2px solid #232323;
}
.all-assets .all-assets-labels p {
  font-size: 11.5px;
  opacity: 0.55;
  letter-spacing: 0.5px;
}
.all-assets .all-assets-labels .name {
  width: 315px;
  min-width: 315px;
  max-width: 315px;
}
.all-assets .all-assets-labels .col {
  width: 115px;
  min-width: 115px;
  max-width: 115px;
  text-align: right;
  margin-right: 16.5px;
}
.all-assets-options-ctr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.all-assets-options-ctr .all-assets-search {
  height: 35px;
  width: 265px;
  border-radius: 3.5px;
  border: 2px solid #232323;
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.all-assets-options-ctr .all-assets-search input {
  margin-left: 10px;
  border: none;
  background: transparent;
  font-size: 15px;
}
.all-assets-options-ctr .all-assets-search input::placeholder {
  opacity: 0.55;
  font-weight: 300;
}
.all-assets-options-ctr .all-assets-search input:focus {
  outline: none;
}
.all-assets-options {
  margin: 15px 0;
  display: flex;
  align-items: center;
}
.all-assets-options .option {
  color: #222525;
  font-weight: 600;
  font-size: 14px;
  padding: 3.5px 20px;
  width: fit-content;
  border-radius: 3.5px;
  margin-right: 8.5px;
  transition: all 0.15s;
  cursor: pointer;
}
.all-assets-options .option.active {
  background-color: #0780802a;
  color: #078080;
}
.no-assets {
  padding: 75px 25px;
  text-align: center;
}
.no-assets p {
  font-size: 17px;
  margin-bottom: 15px;
}
.no-assets button {
  background-color: #078080;
  color: white;
  font-size: 15px;
  padding: 5px 15px;
  border-radius: 2.5px;
  border: none;
  cursor: pointer;
}
@media (max-width: 1066px) {
  .all-assets .all-assets-labels {
    width: max-content;
  }
}
@media (max-width: 641px) {
  .all-assets .all-assets-labels {
    display: none;
  }
  .all-assets {
    border: none;
    padding-bottom: 10px;
    border-bottom: 2px solid #23232315;
  }
  .all-assets-options-ctr {
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 2px solid #23232315;
    margin-bottom: 7.5px;
  }
  .all-assets-options-ctr .all-assets-search {
    margin-bottom: 15px;
    width: 100%;
  }
  .all-assets-options-ctr .all-assets-search input {
    width: 100%;
  }
}
