@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(7.5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.coin-info {
  animation: fadeInUp;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  animation-duration: 0.55s;
  animation-delay: 0.15s;
}
.coin-info a {
  font-weight: 600;
  color: rgb(244, 93, 72);
}
.coin-info .coin-info-intro {
  display: flex;
  align-items: center;
  margin: 15px 0 30px 0;
}
.coin-info .coin-info-intro img {
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid rgba(128, 128, 128, 0.2);
}
.coin-info .coin-info-intro h1 {
  margin: 0 15px;
  font-size: 37.5px;
  font-weight: 600;
}
.coin-info .coin-info-intro h2 {
  color: #5b616e;
  font-weight: 400;
  font-size: 20px;
  margin-top: 5.5px;
}
.graph-ctr {
  border: 2px solid #232323;
  border-radius: 3.5px;
}
.graph-ctr .price-options-ctr {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 15px 0;
  padding: 30px 30px 0 30px;
}
.graph-ctr .price-options-ctr .price-percentage-ctr {
  display: flex;
}
.graph-ctr .price-options-ctr .price-percentage-ctr h5 {
  font-size: 19.5px;
  margin-left: 12.5px;
  font-weight: 500;
}
.graph-ctr .graph {
  padding: 30px;
}
.graph-ctr .price-options-ctr h2 {
  font-size: 42.5px;
  font-weight: 500;
  margin-top: -7.5px;
}
.graph-ctr .price-options-ctr span {
  font-size: 14.5px;
  font-weight: 600;
  margin: 0 7.5px;
  cursor: pointer;
}
.coin-info-details {
  border-top: 2px solid #232323;
  padding: 30px;
}
.coin-info-details h3 {
  margin-bottom: 20px;
}
.coin-info-details .coin-info-row {
  display: flex;
  margin-bottom: 30px;
}
.coin-info-details .link {
  display: flex;
  align-items: center;
  margin: 15px 0;
  cursor: pointer;
}
.coin-info-details .link p {
  margin-left: 6.5px;
  color: #078080;
}
#desc {
  margin-top: 25px;
}
@media (max-width: 641px) {
  .coin-info .coin-info-intro {
    margin: 0;
    margin-bottom: 30px;
  }
  .graph-ctr {
    border: none;
  }
  .graph {
    margin-bottom: 20px;
  }
  .graph-ctr .price-options-ctr,
  .graph-ctr .graph,
  .coin-info-details {
    padding: 0;
  }
  .coin-info-details {
    border-top: 2px solid rgba(128, 128, 128, 0.2);
    padding-top: 20px;
  }
  .graph-ctr .price-options-ctr h2 {
    font-size: 37.5px;
  }
  .coin-info .coin-info-intro h1 {
    font-size: 32.5px;
    margin: 0 10px;
  }
  .coin-info .coin-info-intro h2 {
    font-size: 18px;
    margin-top: 5.5px;
  }
  .graph-ctr .price-options-ctr .price-percentage-ctr h5 {
    font-size: 16px;
    margin-left: 7.5px;
  }
  .coin-info .coin-info-intro img {
    height: 45px;
    width: 45px;
  }
  .graph-ctr .price-options-ctr {
    flex-direction: column;
  }
  #timeline-select {
    text-align: center;
    border: 2px solid rgba(128, 128, 128, 0.2);
    margin: 10px 0 5px 0;
    padding: 3.5px 0;
  }
  .coin-info-details .coin-info-row {
    flex-direction: column;
    margin: 0;
  }
  .tooltip-info {
    display: flex;
    justify-content: space-between;
    width: 100% !important;
    padding-right: 5px;
    margin-bottom: 10px;
  }
  .tooltip-info:last-child {
    padding-bottom: 15px;
  }
  .tooltip-info p {
    font-size: 17px !important;
  }
}
