.corner-note {
  display: flex;
  align-items: center;
  padding: 5px 7.5px;
  border-radius: 3.5px;
  background-color: #232323;
  width: fit-content;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
}
.corner-note img {
  margin-right: 5.5px;
}
.corner-note p {
  font-size: 13.5px;
  font-weight: 400;
  color: #fffffe;
}
@media (max-width: 641px) {
  .corner-note {
    bottom: 10px;
    right: 10px;
  }
}
