.loader-ctr {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: relative;
  margin: 0 auto;
}
#loader-2 span {
  display: inline-block;
  width: 12.5px;
  height: 12.5px;
  border-radius: 100%;
  background-color: #078080;
  margin: 35px 3.5px;
}

#loader-2 span:nth-child(1) {
  animation: bounce 0.75s ease-in-out infinite;
}

#loader-2 span:nth-child(2) {
  animation: bounce 0.75s ease-in-out 0.33s infinite;
}

#loader-2 span:nth-child(3) {
  animation: bounce 0.75s ease-in-out 0.66s infinite;
}

@keyframes bounce {
  0%,
  75%,
  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  25% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
