@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(7.5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.trending {
  padding: 15px 0 12.5px 0;
  animation: fadeInUp;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  animation-duration: 0.55s;
  animation-delay: 0.15s;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(198px, 1fr));
}
.trending .trending-item {
  height: 175px;
  /* width: 215px; */
  margin: 0 12.5px 12.5px 0;
  border: 2px solid #232323;
  border-radius: 3.5px;
  padding: 15px;
  transition: all 0.15s;
  cursor: pointer;
}
.trending .trending-item:hover {
  transform: translateY(-4.5px);
}
.trending .trending-item:hover p,
.trending .trending-item:hover h3,
.trending .trending-item:hover span,
.trending .trending-item:hover h2 {
  transition: color 0.15s;
  color: white !important;
}
.trending .trending-item.up:hover {
  background-color: #078080;
  border: 2px solid #078080;
}
.trending .trending-item.down:hover {
  background-color: #f45c48;
  border: 2px solid #f45c48;
}
.trending .trending-item:last-child {
  margin-right: 0;
}
.trending .trending-item img {
  height: 37.5px;
  width: 37.5px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid rgba(128, 128, 128, 0.2);
  margin: 10px 0;
}
.trending .trending-item span {
  color: #078080;
}
.trending .trending-item p {
  font-size: 17px;
}
.trending .trending-item h3 {
  font-size: 15.5px;
  font-weight: 600;
}
/* Mobile trending section*/
.mobile-trending {
  display: none;
  border: 2px solid #232323;
  border-radius: 3.5px;
  padding: 15px 15px 40px 15px;
  margin: 5px 0 22.5px 0;
  animation: fadeInUp;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  animation-duration: 0.55s;
  animation-delay: 0.15s;
  position: relative;
}
.mobile-trending .see-more-ctr {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.mobile-trending .see-more-ctr h5 {
  font-size: 15.5px;
  font-weight: 600;
}
.mobile-trending .mobile-trending-item {
  display: flex;
  padding-bottom: 15px;
  cursor: pointer;
  width: 100%;
}
.mobile-trending .mobile-trending-item .name-change {
  display: flex;
  align-items: center;
}
.mobile-trending .mobile-trending-item .name-change p {
  font-size: 14px;
}
.mobile-trending .mobile-trending-item .name-change #dot {
  height: 5px;
  width: 5px;
  background-color: #232323;
  margin: 0 6.5px;
  border-radius: 50%;
}
.mobile-trending .mobile-trending-item h5 {
  font-size: 17px;
  font-weight: 500;
}
.mobile-trending .mobile-trending-item img {
  height: 37.5px;
  width: 37.5px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid rgba(128, 128, 128, 0.2);
  margin-right: 12.5px;
}
@media (max-width: 641px) {
  .trending {
    display: none;
  }
  .mobile-trending {
    display: block;
  }
}
