.trending {
  padding: 25px 0;
  display: flex;
}
.trending .trending-item {
  height: 175px;
  width: 225px;
  margin-right: 12.5px;
  border: 2px solid #232323;
  border-radius: 3.5px;
  padding: 15px;
  /* background-color: #fffffe; */
}
.trending .trending-item:last-child {
  margin-right: 0;
}
.trending .trending-item img {
  height: 37.5px;
  width: 37.5px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid rgba(128, 128, 128, 0.2);
  margin: 10px 0;
}
.trending .trending-item span {
  color: #078080;
}
.trending .trending-item p {
  font-size: 17px;
}
.trending .trending-item h3 {
  font-size: 15.5px;
  font-weight: 600;
}
